// DEFAULT COLORS
$primary: #4285f4;
$secondary: #9e6db1;
$success: #0f9d58;
$warning: #f4b400;
$danger: #db4437;
$info: #43bedd;
$default: #bce6e5;

$black: #000;
$white: #fff;
$inno: #00838f;
$dark: #424242;
$light: #e0e0e0;

// MATERIAL DESIGN COLORS
// RED
$red-lighten-1: #ffebee;
$red-lighten-2: #ffcdd2;
$red-lighten-3: #ef9a9a;
$red-lighten-4: #e57373;
$red-lighten-5: #ef5350;
$red: #f44336;
$red-darken-1: #e53935;
$red-darken-2: #d32f2f;
$red-darken-3: #c62828;
$red-darken-4: #b71c1c;
$red-a-100: #ff8a80;
$red-a-200: #ff5252;
$red-a-400: #ff1744;
$red-a-700: #d50000;

// PINK
$pink-lighten-1: #fce4ec;
$pink-lighten-2: #f8bbd0;
$pink-lighten-3: #f48fb1;
$pink-lighten-4: #f06292;
$pink-lighten-5: #ec407a;
$pink: #e91e63;
$pink-darken-1: #d81b60;
$pink-darken-2: #c2185b;
$pink-darken-3: #ad1457;
$pink-darken-4: #880e4f;
$pink-a-100: #ff80ab;
$pink-a-200: #ff4081;
$pink-a-400: #f50057;
$pink-a-700: #c51162;

// PURPLE
$purple-lighten-1: #f3e5f5;
$purple-lighten-2: #e1bee7;
$purple-lighten-3: #ce93d8;
$purple-lighten-4: #ba68c8;
$purple-lighten-5: #ab47bc;
$purple: #9c27b0;
$purple-darken-1: #8e24aa;
$purple-darken-2: #7b1fa2;
$purple-darken-3: #6a1b9a;
$purple-darken-4: #4a148c;
$purple-a-100: #ea80fc;
$purple-a-200: #e040fb;
$purple-a-400: #d500f9;
$purple-a-700: #aa00ff;

// DEEP PURPLE
$deep-purple-lighten-1: #ede7f6;
$deep-purple-lighten-2: #d1c4e9;
$deep-purple-lighten-3: #b39ddb;
$deep-purple-lighten-4: #9575cd;
$deep-purple-lighten-5: #7e57c2;
$deep-purple: #673ab7;
$deep-purple-darken-1: #5e35b1;
$deep-purple-darken-2: #512da8;
$deep-purple-darken-3: #4527a0;
$deep-purple-darken-4: #311b92;
$deep-purple-a-100: #b388ff;
$deep-purple-a-200: #7c4dff;
$deep-purple-a-400: #651fff;
$deep-purple-a-700: #6200ea;

// INDIGO
$indigo-lighten-1: #e8eaf6;
$indigo-lighten-2: #c5cae9;
$indigo-lighten-3: #9fa8da;
$indigo-lighten-4: #7986cb;
$indigo-lighten-5: #5c6bc0;
$indigo: #3f51b5;
$indigo-darken-1: #3949ab;
$indigo-darken-2: #303f9f;
$indigo-darken-3: #283593;
$indigo-darken-4: #1a237e;
$indigo-a-100: #8c9eff;
$indigo-a-200: #536dfe;
$indigo-a-400: #3d5afe;
$indigo-a-700: #304ffe;

// BLUE
$blue-lighten-1: #e3f2fd;
$blue-lighten-2: #bbdefb;
$blue-lighten-3: #90caf9;
$blue-lighten-4: #64b5f6;
$blue-lighten-5: #42a5f5;
$blue: #2196f3;
$blue-darken-1: #1e88e5;
$blue-darken-2: #1976d2;
$blue-darken-3: #1565c0;
$blue-darken-4: #0d47a1;
$blue-a-100: #82b1ff;
$blue-a-200: #448aff;
$blue-a-400: #2979ff;
$blue-a-700: #2962ff;

// LIGHT BLUE
$light-blue-lighten-1: #e1f5fe;
$light-blue-lighten-2: #b3e5fc;
$light-blue-lighten-3: #81d4fa;
$light-blue-lighten-4: #4fc3f7;
$light-blue-lighten-5: #29b6f6;
$light-blue: #03a9f4;
$light-blue-darken-1: #039be5;
$light-blue-darken-2: #0288d1;
$light-blue-darken-3: #0277bd;
$light-blue-darken-4: #01579b;
$light-blue-a-100: #80d8ff;
$light-blue-a-200: #40c4ff;
$light-blue-a-400: #00b0ff;
$light-blue-a-700: #0091ea;

// CYAN
$cyan-lighten-1: #e0f7fa;
$cyan-lighten-2: #b2ebf2;
$cyan-lighten-3: #80deea;
$cyan-lighten-4: #4dd0e1;
$cyan-lighten-5: #26c6da;
$cyan: #00bcd4;
$cyan-darken-1: #00acc1;
$cyan-darken-2: #0097a7;
$cyan-darken-3: #00838f;
$cyan-darken-4: #006064;
$cyan-a-100: #84ffff;
$cyan-a-200: #18ffff;
$cyan-a-400: #00e5ff;
$cyan-a-700: #00b8d4;

// TEAL
$teal-lighten-1: #e0f2f1;
$teal-lighten-2: #b2dfdb;
$teal-lighten-3: #80cbc4;
$teal-lighten-4: #4db6ac;
$teal-lighten-5: #26a69a;
$teal: #009688;
$teal-darken-1: #00897b;
$teal-darken-2: #00796b;
$teal-darken-3: #00695c;
$teal-darken-4: #004d40;
$teal-a-100: #a7ffeb;
$teal-a-200: #64ffda;
$teal-a-400: #1de9b6;
$teal-a-700: #00bfa5;

// GREEN
$green-lighten-1: #e8f5e9;
$green-lighten-2: #c8e6c9;
$green-lighten-3: #a5d6a7;
$green-lighten-4: #81c784;
$green-lighten-5: #66bb6a;
$green: #4caf50;
$green-darken-1: #43a047;
$green-darken-2: #388e3c;
$green-darken-3: #2e7d32;
$green-darken-4: #1b5e20;
$green-a-100: #b9f6ca;
$green-a-200: #69f0ae;
$green-a-400: #00e676;
$green-a-700: #00c853;

// LIGHT GREEN
$light-green-lighten-1: #f1f8e9;
$light-green-lighten-2: #dcedc8;
$light-green-lighten-3: #c5e1a5;
$light-green-lighten-4: #aed581;
$light-green-lighten-5: #9ccc65;
$light-green: #8bc34a;
$light-green-darken-1: #7cb342;
$light-green-darken-2: #689f38;
$light-green-darken-3: #558b2f;
$light-green-darken-4: #33691e;
$light-green-a-100: #ccff90;
$light-green-a-200: #b2ff59;
$light-green-a-400: #76ff03;
$light-green-a-700: #64dd17;

// LIME
$lime-lighten-1: #f9fbe7;
$lime-lighten-2: #f0f4c3;
$lime-lighten-3: #e6ee9c;
$lime-lighten-4: #dce775;
$lime-lighten-5: #d4e157;
$lime: #cddc39;
$lime-darken-1: #c0ca33;
$lime-darken-2: #afb42b;
$lime-darken-3: #9e9d24;
$lime-darken-4: #827717;
$lime-a-100: #f4ff81;
$lime-a-200: #eeff41;
$lime-a-400: #c6ff00;
$lime-a-700: #aeea00;

// YELLOW
$yellow-lighten-1: #fffde7;
$yellow-lighten-2: #fff9c4;
$yellow-lighten-3: #fff59d;
$yellow-lighten-4: #fff176;
$yellow-lighten-5: #ffee58;
$yellow: #ffeb3b;
$yellow-darken-1: #fdd835;
$yellow-darken-2: #fbc02d;
$yellow-darken-3: #f9a825;
$yellow-darken-4: #f57f17;
$yellow-a-100: #ffff8d;
$yellow-a-200: #ffff00;
$yellow-a-400: #ffea00;
$yellow-a-700: #ffd600;

// AMBER
$amber-lighten-1: #fff8e1;
$amber-lighten-2: #ffecb3;
$amber-lighten-3: #ffe082;
$amber-lighten-4: #ffd54f;
$amber-lighten-5: #ffca28;
$amber: #ffc107;
$amber-darken-1: #ffb300;
$amber-darken-2: #ffa000;
$amber-darken-3: #ff8f00;
$amber-darken-4: #ff6f00;
$amber-a-100: #ffe57f;
$amber-a-200: #ffd740;
$amber-a-400: #ffc400;
$amber-a-700: #ffab00;

// ORANGE
$orange-lighten-1: #fff3e0;
$orange-lighten-2: #ffe0b2;
$orange-lighten-3: #ffcc80;
$orange-lighten-4: #ffb74d;
$orange-lighten-5: #ffa726;
$orange: #ff9800;
$orange-darken-1: #fb8c00;
$orange-darken-2: #f57c00;
$orange-darken-3: #ef6c00;
$orange-darken-4: #e65100;
$orange-a-100: #ffd180;
$orange-a-200: #ffab40;
$orange-a-400: #ff9100;
$orange-a-700: #ff6d00;

// DEEP ORANGE
$deep-orange-lighten-1: #fbe9e7;
$deep-orange-lighten-2: #ffccbc;
$deep-orange-lighten-3: #ffab91;
$deep-orange-lighten-4: #ff8a65;
$deep-orange-lighten-5: #ff7043;
$deep-orange: #ff5722;
$deep-orange-darken-1: #f4511e;
$deep-orange-darken-2: #e64a19;
$deep-orange-darken-3: #d84315;
$deep-orange-darken-4: #bf360c;
$deep-orange-a-100: #ff9e80;
$deep-orange-a-200: #ff6e40;
$deep-orange-a-400: #ff3d00;
$deep-orange-a-700: #dd2c00;

// BROWN
$brown-lighten-1: #efebe9;
$brown-lighten-2: #d7ccc8;
$brown-lighten-3: #bcaaa4;
$brown-lighten-4: #a1887f;
$brown-lighten-5: #8d6e63;
$brown: #795548;
$brown-darken-1: #6d4c41;
$brown-darken-2: #5d4037;
$brown-darken-3: #4e342e;
$brown-darken-4: #3e2723;

// GREY
$grey-lighten-1: #fafafa;
$grey-lighten-2: #f5f5f5;
$grey-lighten-3: #eee;
$grey-lighten-4: #e0e0e0;
$grey-lighten-5: #bdbdbd;
$grey: #9e9e9e;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;

// BLUE GREY
$blue-grey-lighten-1: #eceff1;
$blue-grey-lighten-2: #cfd8dc;
$blue-grey-lighten-3: #b0bec5;
$blue-grey-lighten-4: #90a4ae;
$blue-grey-lighten-5: #78909c;
$blue-grey: #607d8b;
$blue-grey-darken-1: #546e7a;
$blue-grey-darken-2: #455a64;
$blue-grey-darken-3: #37474f;
$blue-grey-darken-4: #263238;

// BRANDS COLORS
$airbnb: #fd5c63;
$alipay: #0e9dec;
$amazon: #ff9900;
$amazon-pay: #333e47;
$amex: #2e77bb;
$android: #a4c639;
$angular: #b52e31;
$apple: #000;
$atlassian: #0052cc;
$bitcoin: #f2a900;
$blogger: #f57d00;
$bootstrap: #602c50;
$codepen: #000;
$digital-ocean: #008bcf;
$discover: #e55c20;
$docker: #0db7ed;
$dribbble: #ea4c89;
$dropbox: #007ee5;
$ethereum: #3c3c3d;
$fb: #3c5a99;
$fb-msg: #0084ff;
$free-code-camp: #006400;
$git: #f1502f;
$github: #333;
$gplus: #dd4b39;
$gwallet: #000;
$imdb: #f3ce13;
$instagram: #833ab4;
$jcb: #000;
$line: #00c300;
$linkedin: #0077b5;
$mastercard: #eb001b;
$medium: #000;
$microsoft: #f65314;
$monero: #ff6600;
$paypal: #003087;
$pinterest: #bd081c;
$playstation: #003791;
$quora: #b92b27;
$reddit: #ff4500;
$redhat: #cc0000;
$skype: #00aff0;
$slack: #6ecadc;
$snapchat: #fffc00;
$soundcloud: #ff8800;
$spotify: #1db954;
$stack-exchange: #1e5397;
$stack-overflow: #f48024;
$steam: #000;
$stripe: #5433ff;
$telegram: #0088cc;
$tripadvisor: #00af87;
$tumblr: #35465c;
$twitter: #1da1f2;
$uber: #000;
$viacoin: #000;
$vimeo: #1ab7ea;
$visa: #1a1f71;
$vk: #45668e;
$waze: #7ec0ee;
$wechat: #7bb32e;
$weibo: #df2029;
$windows: #0078d7;
$whatsapp: #25d366;
$wordpress: #21759b;
$xbox: #52b043;
$yahoo: #410093;
$yandex: #ff0000;
$youtube: #ff0000;

// MAPS

$inno-md-colors: map-merge((
	"red": (
		"lighten-1": $red-lighten-1,
		"lighten-2": $red-lighten-2,
		"lighten-3": $red-lighten-3,
		"lighten-4": $red-lighten-4,
		"lighten-5": $red-lighten-5,
		"default": $red,
		"darken-1": $red-darken-1,
		"darken-2": $red-darken-2,
		"darken-3": $red-darken-3,
		"darken-4": $red-darken-4,
		"a-100": $red-a-100,
		"a-200": $red-a-200,
		"a-400": $red-a-400,
		"a-700": $red-a-700
	),
	"pink": (
		"lighten-1": $pink-lighten-1,
		"lighten-2": $pink-lighten-2,
		"lighten-3": $pink-lighten-3,
		"lighten-4": $pink-lighten-4,
		"lighten-5": $pink-lighten-5,
		"default": $pink,
		"darken-1": $pink-darken-1,
		"darken-2": $pink-darken-2,
		"darken-3": $pink-darken-3,
		"darken-4": $pink-darken-4,
		"a-100": $pink-a-100,
		"a-200": $pink-a-200,
		"a-400": $pink-a-400,
		"a-700": $pink-a-700
	),
	"purple": (
		"lighten-1": $purple-lighten-1,
		"lighten-2": $purple-lighten-2,
		"lighten-3": $purple-lighten-3,
		"lighten-4": $purple-lighten-4,
		"lighten-5": $purple-lighten-5,
		"default": $purple,
		"darken-1": $purple-darken-1,
		"darken-2": $purple-darken-2,
		"darken-3": $purple-darken-3,
		"darken-4": $purple-darken-4,
		"a-100": $purple-a-100,
		"a-200": $purple-a-200,
		"a-400": $purple-a-400,
		"a-700": $purple-a-700
	),
	"deep-purple": (
		"lighten-1": $deep-purple-lighten-1,
		"lighten-2": $deep-purple-lighten-2,
		"lighten-3": $deep-purple-lighten-3,
		"lighten-4": $deep-purple-lighten-4,
		"lighten-5": $deep-purple-lighten-5,
		"default": $deep-purple,
		"darken-1": $deep-purple-darken-1,
		"darken-2": $deep-purple-darken-2,
		"darken-3": $deep-purple-darken-3,
		"darken-4": $deep-purple-darken-4,
		"a-100": $deep-purple-a-100,
		"a-200": $deep-purple-a-200,
		"a-400": $deep-purple-a-400,
		"a-700": $deep-purple-a-700
	),
	"indigo": (
		"lighten-1": $indigo-lighten-1,
		"lighten-2": $indigo-lighten-2,
		"lighten-3": $indigo-lighten-3,
		"lighten-4": $indigo-lighten-4,
		"lighten-5": $indigo-lighten-5,
		"default": $indigo,
		"darken-1": $indigo-darken-1,
		"darken-2": $indigo-darken-2,
		"darken-3": $indigo-darken-3,
		"darken-4": $indigo-darken-4,
		"a-100": $indigo-a-100,
		"a-200": $indigo-a-200,
		"a-400": $indigo-a-400,
		"a-700": $indigo-a-700
	),
	"blue": (
		"lighten-1": $blue-lighten-1,
		"lighten-2": $blue-lighten-2,
		"lighten-3": $blue-lighten-3,
		"lighten-4": $blue-lighten-4,
		"lighten-5": $blue-lighten-5,
		"default": $blue,
		"darken-1": $blue-darken-1,
		"darken-2": $blue-darken-2,
		"darken-3": $blue-darken-3,
		"darken-4": $blue-darken-4,
		"a-100": $blue-a-100,
		"a-200": $blue-a-200,
		"a-400": $blue-a-400,
		"a-700": $blue-a-700
	),
	"light-blue": (
		"lighten-1": $light-blue-lighten-1,
		"lighten-2": $light-blue-lighten-2,
		"lighten-3": $light-blue-lighten-3,
		"lighten-4": $light-blue-lighten-4,
		"lighten-5": $light-blue-lighten-5,
		"default": $light-blue,
		"darken-1": $light-blue-darken-1,
		"darken-2": $light-blue-darken-2,
		"darken-3": $light-blue-darken-3,
		"darken-4": $light-blue-darken-4,
		"a-100": $light-blue-a-100,
		"a-200": $light-blue-a-200,
		"a-400": $light-blue-a-400,
		"a-700": $light-blue-a-700
	),
	"cyan": (
		"lighten-1": $cyan-lighten-1,
		"lighten-2": $cyan-lighten-2,
		"lighten-3": $cyan-lighten-3,
		"lighten-4": $cyan-lighten-4,
		"lighten-5": $cyan-lighten-5,
		"default": $cyan,
		"darken-1": $cyan-darken-1,
		"darken-2": $cyan-darken-2,
		"darken-3": $cyan-darken-3,
		"darken-4": $cyan-darken-4,
		"a-100": $cyan-a-100,
		"a-200": $cyan-a-200,
		"a-400": $cyan-a-400,
		"a-700": $cyan-a-700
	),
	"teal": (
		"lighten-1": $teal-lighten-1,
		"lighten-2": $teal-lighten-2,
		"lighten-3": $teal-lighten-3,
		"lighten-4": $teal-lighten-4,
		"lighten-5": $teal-lighten-5,
		"default": $teal,
		"darken-1": $teal-darken-1,
		"darken-2": $teal-darken-2,
		"darken-3": $teal-darken-3,
		"darken-4": $teal-darken-4,
		"a-100": $teal-a-100,
		"a-200": $teal-a-200,
		"a-400": $teal-a-400,
		"a-700": $teal-a-700
	),
	"green": (
		"lighten-1": $green-lighten-1,
		"lighten-2": $green-lighten-2,
		"lighten-3": $green-lighten-3,
		"lighten-4": $green-lighten-4,
		"lighten-5": $green-lighten-5,
		"default": $green,
		"darken-1": $green-darken-1,
		"darken-2": $green-darken-2,
		"darken-3": $green-darken-3,
		"darken-4": $green-darken-4,
		"a-100": $green-a-100,
		"a-200": $green-a-200,
		"a-400": $green-a-400,
		"a-700": $green-a-700
	),
	"light-green": (
		"lighten-1": $light-green-lighten-1,
		"lighten-2": $light-green-lighten-2,
		"lighten-3": $light-green-lighten-3,
		"lighten-4": $light-green-lighten-4,
		"lighten-5": $light-green-lighten-5,
		"default": $light-green,
		"darken-1": $light-green-darken-1,
		"darken-2": $light-green-darken-2,
		"darken-3": $light-green-darken-3,
		"darken-4": $light-green-darken-4,
		"a-100": $light-green-a-100,
		"a-200": $light-green-a-200,
		"a-400": $light-green-a-400,
		"a-700": $light-green-a-700,
	),
	"lime": (
		"lighten-1": $lime-lighten-1,
		"lighten-2": $lime-lighten-2,
		"lighten-3": $lime-lighten-3,
		"lighten-4": $lime-lighten-4,
		"lighten-5": $lime-lighten-5,
		"default": $lime,
		"darken-1": $lime-darken-1,
		"darken-2": $lime-darken-2,
		"darken-3": $lime-darken-3,
		"darken-4": $lime-darken-4,
		"a-100": $lime-a-100,
		"a-200": $lime-a-200,
		"a-400": $lime-a-400,
		"a-700": $lime-a-700
	),
	"yellow": (
		"lighten-1": $yellow-lighten-1,
		"lighten-2": $yellow-lighten-2,
		"lighten-3": $yellow-lighten-3,
		"lighten-4": $yellow-lighten-4,
		"lighten-5": $yellow-lighten-5,
		"default": $yellow,
		"darken-1": $yellow-darken-1,
		"darken-2": $yellow-darken-2,
		"darken-3": $yellow-darken-3,
		"darken-4": $yellow-darken-4,
		"a-100": $yellow-a-100,
		"a-200": $yellow-a-200,
		"a-400": $yellow-a-400,
		"a-700": $yellow-a-700
	),
	"amber": (
		"lighten-1": $amber-lighten-1,
		"lighten-2": $amber-lighten-2,
		"lighten-3": $amber-lighten-3,
		"lighten-4": $amber-lighten-4,
		"lighten-5": $amber-lighten-5,
		"default": $amber,
		"darken-1": $amber-darken-1,
		"darken-2": $amber-darken-2,
		"darken-3": $amber-darken-3,
		"darken-4": $amber-darken-4,
		"a-100": $amber-a-100,
		"a-200": $amber-a-200,
		"a-400": $amber-a-400,
		"a-700": $amber-a-700
	),
	"orange": (
		"lighten-1": $orange-lighten-1,
		"lighten-2": $orange-lighten-2,
		"lighten-3": $orange-lighten-3,
		"lighten-4": $orange-lighten-4,
		"lighten-5": $orange-lighten-5,
		"default": $orange,
		"darken-1": $orange-darken-1,
		"darken-2": $orange-darken-2,
		"darken-3": $orange-darken-3,
		"darken-4": $orange-darken-4,
		"a-100": $orange-a-100,
		"a-200": $orange-a-200,
		"a-400": $orange-a-400,
		"a-700": $orange-a-700
	),
	"deep-orange": (
		"lighten-1": $deep-orange-lighten-1,
		"lighten-2": $deep-orange-lighten-2,
		"lighten-3": $deep-orange-lighten-3,
		"lighten-4": $deep-orange-lighten-4,
		"lighten-5": $deep-orange-lighten-5,
		"default": $deep-orange,
		"darken-1": $deep-orange-darken-1,
		"darken-2": $deep-orange-darken-2,
		"darken-3": $deep-orange-darken-3,
		"darken-4": $deep-orange-darken-4,
		"a-100": $deep-orange-a-100,
		"a-200": $deep-orange-a-200,
		"a-400": $deep-orange-a-400,
		"a-700": $deep-orange-a-700
	),
	"brown": (
		"lighten-1": $brown-lighten-1,
		"lighten-2": $brown-lighten-2,
		"lighten-3": $brown-lighten-3,
		"lighten-4": $brown-lighten-4,
		"lighten-5": $brown-lighten-5,
		"default": $brown,
		"darken-1": $brown-darken-1,
		"darken-2": $brown-darken-2,
		"darken-3": $brown-darken-3,
		"darken-4": $brown-darken-4
	),
	"grey": (
		"lighten-1": $grey-lighten-1,
		"lighten-2": $grey-lighten-2,
		"lighten-3": $grey-lighten-3,
		"lighten-4": $grey-lighten-4,
		"lighten-5": $grey-lighten-5,
		"default": $grey,
		"darken-1": $grey-darken-1,
		"darken-2": $grey-darken-2,
		"darken-3": $grey-darken-3,
		"darken-4": $grey-darken-4
	),
	"blue-grey": (
		"lighten-1": $blue-grey-lighten-1,
		"lighten-2": $blue-grey-lighten-2,
		"lighten-3": $blue-grey-lighten-3,
		"lighten-4": $blue-grey-lighten-4,
		"lighten-5": $blue-grey-lighten-5,
		"default": $blue-grey,
		"darken-1": $blue-grey-darken-1,
		"darken-2": $blue-grey-darken-2,
		"darken-3": $blue-grey-darken-3,
		"darken-4": $blue-grey-darken-4
	)
), ());

$alert-colors: (
	"primary": ($primary, $white),
	"secondary": ($secondary, $white),
	"success": ($success, $white),
	"warning": ($warning, $white),
	"danger": ($danger, $white),
	"info": ($info, $white),
	"default": ($default, $black),
	"red": ($red, $white),
	"pink": ($pink, $white),
	"purple": ($purple, $white),
	"deep-purple": ($deep-purple, $white),
	"indigo": ($indigo, $white),
	"blue": ($blue, $white),
	"light-blue": ($light-blue, $white),
	"cyan": ($cyan, $white),
	"teal": ($teal, $white),
	"green": ($green, $white),
	"light-green": ($light-green, $white),
	"lime": ($lime, $white),
	"yellow": ($yellow, $black),
	"amber": ($amber, $white),
	"orange": ($orange, $white),
	"deep-orange": ($deep-orange, $white),
	"brown": ($brown, $white),
	"grey": ($grey, $white),
	"blue-grey": ($blue-grey, $white),
	"dark": ($dark, $white),
	"black": ($black, $white),
	"light": ($light, $black),
	"white": ($white, $black)
);

$badge-colors: (
	"primary": ($primary, #3f74e0, $white),
	"secondary": ($secondary, #7a3995, $white),
	"success": ($success, #018b4c, $white),
	"warning": ($warning, #f49000, $white),
	"danger": ($danger, #bc352b, $white),
	"info": ($info, #3699af, $white),
	"default": ($default, #90d7d5, $black),
	"red": ($red, #e53935, $white),
	"pink": ($pink, #d81b60, $white),
	"purple": ($purple, #7b1fa2, $white),
	"deep-purple": ($deep-purple, #512da8, $white),
	"indigo": ($indigo, #303f9f, $white),
	"blue": ($blue, #1976d2, $white),
	"light-blue": ($light-blue, #039be5, $white),
	"cyan": ($cyan, #00acc1, $white),
	"teal": ($teal, #00796b, $white),
	"green": ($green, #388e3c, $white),
	"light-green": ($light-green, #689f38, $white),
	"lime": ($lime, #afb42b, $white),
	"yellow": ($yellow, #fbc02d, $black),
	"amber": ($amber, #ffa000, $white),
	"orange": ($orange, #f57c00, $white),
	"deep-orange": ($deep-orange, #d84315, $white),
	"brown": ($brown, #5d4037, $white),
	"grey": ($grey, #757575, $white),
	"blue-grey": ($blue-grey, #455a64, $white),
	"black": ($black, $black, $white),
	"dark": ($dark, #212121, $white),
	"light": (#f7f7f7, #e5e5e5, $black),
	"white": ($white, $white, $black)
);

$bg-default-colors: (
	"primary": ($primary, #0056b3),
	"secondary": ($secondary, #5e2e85),
	"success": ($success, #19692c),
	"warning": ($warning, #ba8b00),
	"danger": ($danger, #a71d2a),
	"info": ($info, #0f6674),
	"default": ($default, #298e85),
	"dark": ($dark, #000000),
	"light": ($light, #9e9e9e)
);

$inno-default-md-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"warning": $warning,
	"danger": $danger, 
	"info": $info,
	"default": $default,
	"red": $red,
	"pink": $pink,
	"purple": $purple,
	"deep-purple": $deep-purple,
	"indigo": $indigo,
	"blue": $blue,
	"light-blue": $light-blue,
	"cyan": $cyan,
	"teal": $teal,
	"green": $green,
	"light-green": $light-green,
	"lime": $lime,
	"yellow": $yellow,
	"amber": $amber,
	"orange": $orange,
	"deep-orange": $deep-orange,
	"brown": $brown,
	"grey": $grey,
	"blue-grey": $blue-grey,
);

$inno-text-colors: (
	"primary": ($primary, #0056b3),
	"secondary": ($secondary, #5e2e85),
	"success": ($success, #19692c),
	"warning": ($warning, #ba8b00),
	"danger": ($danger, #a71d2a),
	"info": ($info, #0f6674),
	"default": ($default, #298e85),
	"red": ($red, #b71c1c),
	"pink": ($pink, #880e4f),
	"purple": ($purple, #4a148c),
	"deep-purple": ($deep-purple, #311b92),
	"indigo": ($indigo, #1a237e),
	"blue": ($blue, #0d47a1),
	"light-blue": ($light-blue, #01579b),
	"cyan": ($cyan, #006064),
	"teal": ($teal, #004d40),
	"green": ($green, #1b5e20),
	"light-green": ($light-green, #33691e),
	"lime": ($lime, #827717),
	"yellow": ($yellow, #f57f17),
	"amber": ($amber, #ff6f00),
	"orange": ($orange, #e65100),
	"deep-orange": ($deep-orange, #bf360c),
	"brown": ($brown, #3e2723),
	"grey": ($grey, #424242),
	"blue-grey": ($blue-grey, #263238),
	"dark": ($dark, #000),
	"light": (#f7f7f7, #a4a4a4),
	"black": ($black, #000)
);

$filter-colors: (
	"red": (244, 67, 54),
	"pink": (233, 30, 99),
	"purple": (156, 39, 176),
	"deep-purple": (103, 58, 183),
	"indigo": (63, 81, 181),
	"blue": (33, 150, 243),
	"light-blue": (3, 169, 244),
	"cyan": (0, 188, 212),
	"teal": (0, 150, 136),
	"green": (76, 175, 80),
	"light-green": (139, 195, 74),
	"lime": (205, 220, 57),
	"yellow": (255, 235, 59),
	"amber": (255, 193, 7),
	"orange": (255, 152, 0),
	"deep-orange": (255, 87, 34),
	"brown": (121, 85, 72),
	"grey": (158, 158, 158),
	"blue-grey": (96, 125, 139),
	"black": (0, 0, 0),
	"white": (255, 255, 255)
);
