.red.a-100 {
  background-color: #ff8a80 !important; }

.red.a-200 {
  background-color: #ff5252 !important; }

.red.a-400 {
  background-color: #ff1744 !important; }

.red.a-700 {
  background-color: #d50000 !important; }

.pink.a-100 {
  background-color: #ff80ab !important; }

.pink.a-200 {
  background-color: #ff4081 !important; }

.pink.a-400 {
  background-color: #f50057 !important; }

.pink.a-700 {
  background-color: #c51162 !important; }

.purple.a-100 {
  background-color: #ea80fc !important; }

.purple.a-200 {
  background-color: #e040fb !important; }

.purple.a-400 {
  background-color: #d500f9 !important; }

.purple.a-700 {
  background-color: #aa00ff !important; }

.deep-purple.a-100 {
  background-color: #b388ff !important; }

.deep-purple.a-200 {
  background-color: #7c4dff !important; }

.deep-purple.a-400 {
  background-color: #651fff !important; }

.deep-purple.a-700 {
  background-color: #6200ea !important; }

.indigo.a-100 {
  background-color: #8c9eff !important; }

.indigo.a-200 {
  background-color: #536dfe !important; }

.indigo.a-400 {
  background-color: #3d5afe !important; }

.indigo.a-700 {
  background-color: #304ffe !important; }

.blue.a-100 {
  background-color: #82b1ff !important; }

.blue.a-200 {
  background-color: #448aff !important; }

.blue.a-400 {
  background-color: #2979ff !important; }

.blue.a-700 {
  background-color: #2962ff !important; }

.light-blue.a-100 {
  background-color: #80d8ff !important; }

.light-blue.a-200 {
  background-color: #40c4ff !important; }

.light-blue.a-400 {
  background-color: #00b0ff !important; }

.light-blue.a-700 {
  background-color: #0091ea !important; }

.cyan.a-100 {
  background-color: #84ffff !important; }

.cyan.a-200 {
  background-color: #18ffff !important; }

.cyan.a-400 {
  background-color: #00e5ff !important; }

.cyan.a-700 {
  background-color: #00b8d4 !important; }

.teal.a-100 {
  background-color: #a7ffeb !important; }

.teal.a-200 {
  background-color: #64ffda !important; }

.teal.a-400 {
  background-color: #1de9b6 !important; }

.teal.a-700 {
  background-color: #00bfa5 !important; }

.green.a-100 {
  background-color: #b9f6ca !important; }

.green.a-200 {
  background-color: #69f0ae !important; }

.green.a-400 {
  background-color: #00e676 !important; }

.green.a-700 {
  background-color: #00c853 !important; }

.light-green.a-100 {
  background-color: #ccff90 !important; }

.light-green.a-200 {
  background-color: #b2ff59 !important; }

.light-green.a-400 {
  background-color: #76ff03 !important; }

.light-green.a-700 {
  background-color: #64dd17 !important; }

.lime.a-100 {
  background-color: #f4ff81 !important; }

.lime.a-200 {
  background-color: #eeff41 !important; }

.lime.a-400 {
  background-color: #c6ff00 !important; }

.lime.a-700 {
  background-color: #aeea00 !important; }

.yellow.a-100 {
  background-color: #ffff8d !important; }

.yellow.a-200 {
  background-color: #ffff00 !important; }

.yellow.a-400 {
  background-color: #ffea00 !important; }

.yellow.a-700 {
  background-color: #ffd600 !important; }

.amber.a-100 {
  background-color: #ffe57f !important; }

.amber.a-200 {
  background-color: #ffd740 !important; }

.amber.a-400 {
  background-color: #ffc400 !important; }

.amber.a-700 {
  background-color: #ffab00 !important; }

.orange.a-100 {
  background-color: #ffd180 !important; }

.orange.a-200 {
  background-color: #ffab40 !important; }

.orange.a-400 {
  background-color: #ff9100 !important; }

.orange.a-700 {
  background-color: #ff6d00 !important; }

.deep-orange.a-100 {
  background-color: #ff9e80 !important; }

.deep-orange.a-200 {
  background-color: #ff6e40 !important; }

.deep-orange.a-400 {
  background-color: #ff3d00 !important; }

.deep-orange.a-700 {
  background-color: #dd2c00 !important; }

.alert.alert-primary {
  background-color: #4285f4;
  color: #fff; }

.alert.alert-primary a,
.alert.alert-primary .alert-link,
.alert.alert-primary .close {
  color: #fff; }

.alert.alert-secondary {
  background-color: #9e6db1;
  color: #fff; }

.alert.alert-secondary a,
.alert.alert-secondary .alert-link,
.alert.alert-secondary .close {
  color: #fff; }

.alert.alert-success {
  background-color: #0f9d58;
  color: #fff; }

.alert.alert-success a,
.alert.alert-success .alert-link,
.alert.alert-success .close {
  color: #fff; }

.alert.alert-warning {
  background-color: #f4b400;
  color: #fff; }

.alert.alert-warning a,
.alert.alert-warning .alert-link,
.alert.alert-warning .close {
  color: #fff; }

.alert.alert-danger {
  background-color: #db4437;
  color: #fff; }

.alert.alert-danger a,
.alert.alert-danger .alert-link,
.alert.alert-danger .close {
  color: #fff; }

.alert.alert-info {
  background-color: #43bedd;
  color: #fff; }

.alert.alert-info a,
.alert.alert-info .alert-link,
.alert.alert-info .close {
  color: #fff; }

.alert.alert-default {
  background-color: #bce6e5;
  color: #000; }

.alert.alert-default a,
.alert.alert-default .alert-link,
.alert.alert-default .close {
  color: #000; }

.alert.alert-red {
  background-color: #f44336;
  color: #fff; }

.alert.alert-red a,
.alert.alert-red .alert-link,
.alert.alert-red .close {
  color: #fff; }

.alert.alert-pink {
  background-color: #e91e63;
  color: #fff; }

.alert.alert-pink a,
.alert.alert-pink .alert-link,
.alert.alert-pink .close {
  color: #fff; }

.alert.alert-purple {
  background-color: #9c27b0;
  color: #fff; }

.alert.alert-purple a,
.alert.alert-purple .alert-link,
.alert.alert-purple .close {
  color: #fff; }

.alert.alert-deep-purple {
  background-color: #673ab7;
  color: #fff; }

.alert.alert-deep-purple a,
.alert.alert-deep-purple .alert-link,
.alert.alert-deep-purple .close {
  color: #fff; }

.alert.alert-indigo {
  background-color: #3f51b5;
  color: #fff; }

.alert.alert-indigo a,
.alert.alert-indigo .alert-link,
.alert.alert-indigo .close {
  color: #fff; }

.alert.alert-blue {
  background-color: #2196f3;
  color: #fff; }

.alert.alert-blue a,
.alert.alert-blue .alert-link,
.alert.alert-blue .close {
  color: #fff; }

.alert.alert-light-blue {
  background-color: #03a9f4;
  color: #fff; }

.alert.alert-light-blue a,
.alert.alert-light-blue .alert-link,
.alert.alert-light-blue .close {
  color: #fff; }

.alert.alert-cyan {
  background-color: #00bcd4;
  color: #fff; }

.alert.alert-cyan a,
.alert.alert-cyan .alert-link,
.alert.alert-cyan .close {
  color: #fff; }

.alert.alert-teal {
  background-color: #009688;
  color: #fff; }

.alert.alert-teal a,
.alert.alert-teal .alert-link,
.alert.alert-teal .close {
  color: #fff; }

.alert.alert-green {
  background-color: #4caf50;
  color: #fff; }

.alert.alert-green a,
.alert.alert-green .alert-link,
.alert.alert-green .close {
  color: #fff; }

.alert.alert-light-green {
  background-color: #8bc34a;
  color: #fff; }

.alert.alert-light-green a,
.alert.alert-light-green .alert-link,
.alert.alert-light-green .close {
  color: #fff; }

.alert.alert-lime {
  background-color: #cddc39;
  color: #fff; }

.alert.alert-lime a,
.alert.alert-lime .alert-link,
.alert.alert-lime .close {
  color: #fff; }

.alert.alert-yellow {
  background-color: #ffeb3b;
  color: #000; }

.alert.alert-yellow a,
.alert.alert-yellow .alert-link,
.alert.alert-yellow .close {
  color: #000; }

.alert.alert-amber {
  background-color: #ffc107;
  color: #fff; }

.alert.alert-amber a,
.alert.alert-amber .alert-link,
.alert.alert-amber .close {
  color: #fff; }

.alert.alert-orange {
  background-color: #ff9800;
  color: #fff; }

.alert.alert-orange a,
.alert.alert-orange .alert-link,
.alert.alert-orange .close {
  color: #fff; }

.alert.alert-deep-orange {
  background-color: #ff5722;
  color: #fff; }

.alert.alert-deep-orange a,
.alert.alert-deep-orange .alert-link,
.alert.alert-deep-orange .close {
  color: #fff; }

.alert.alert-brown {
  background-color: #795548;
  color: #fff; }

.alert.alert-brown a,
.alert.alert-brown .alert-link,
.alert.alert-brown .close {
  color: #fff; }

.alert.alert-grey {
  background-color: #9e9e9e;
  color: #fff; }

.alert.alert-grey a,
.alert.alert-grey .alert-link,
.alert.alert-grey .close {
  color: #fff; }

.alert.alert-blue-grey {
  background-color: #607d8b;
  color: #fff; }

.alert.alert-blue-grey a,
.alert.alert-blue-grey .alert-link,
.alert.alert-blue-grey .close {
  color: #fff; }

.alert.alert-dark {
  background-color: #424242;
  color: #fff; }

.alert.alert-dark a,
.alert.alert-dark .alert-link,
.alert.alert-dark .close {
  color: #fff; }

.alert.alert-black {
  background-color: #000;
  color: #fff; }

.alert.alert-black a,
.alert.alert-black .alert-link,
.alert.alert-black .close {
  color: #fff; }

.alert.alert-light {
  background-color: #e0e0e0;
  color: #000; }

.alert.alert-light a,
.alert.alert-light .alert-link,
.alert.alert-light .close {
  color: #000; }

.alert.alert-white {
  background-color: #fff;
  color: #000; }

.alert.alert-white a,
.alert.alert-white .alert-link,
.alert.alert-white .close {
  color: #000; }

/*# sourceMappingURL=inno-ui-kit.css.map */
