@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

@keyframes ripple {
	0% {
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
	}
	50% {
		box-shadow: 0px 0px 3px 10px rgba(0, 0, 0, 0.35);
	}
	100% {
		box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0);
	}
}

@keyframes hover-effect {
	0% {
		box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, 0.075); 
	}
	50% {
		box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, 0.075); 
	}
	100% {
		box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, 0.075); 
	}
}

.bg-black {
	background-color: #000 !important;
}

.hr-light {
	border-top: 1px solid #fff;
}
.hr-grey {
	border-top: 1px solid #e0e0e0;
}
.hr-dark {
	border-top: 1px solid #666;
}
.hr-grey {
	border-top: 1px solid #bdbdbd;
}

.h1-responsive {
	font-size: 150%;
}
.w-responsive {
	width: 75%;
}
@media (max-width: 740px) {
	.w-responsive {
		width: 100%;
	}
}

// ####################################################

#contents-button {
	position: fixed;
	bottom: .2rem;
	right: .2rem;
}

/* cards */
.actions {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 52px;
	padding: 0.5em;
	position: relative;
	z-index: 1;
}

.action-icon {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0 2px;
	outline: 0;
	padding: 0.375em;
}

.action-icon:hover {
	background-color: rgba(158, 158, 158, 0.3);
}

.action-icon:active {
	background-color: rgba(158, 158, 158, 0.4);
}

.action-icon:focus:not(:active) {
	background-color: rgba(0, 0, 0, 0.12);
}

.action-icons,
.action-buttons {
	display: inline-block;
}

.action-icons {
	color: rgba(0, 0, 0, 0.5);
	/*position: absolute;*/
	/*top: 20px;*/
	right: 0;
}

.action-icons i {
	font-size: 1.5em;
	vertical-align: middle;
}

.card-group-align,
.group-align,
.group-align-flex-start {
	display: flex;
	align-items: center;
}

.group-align2 {
	display: flex;
	align-items: center;
}
.group-align2 {
	justify-content: space-between;
}

.card-group-align {
	justify-content: left;
}

.group-align-flex-start {
	justify-content: flex-start;
}

.content {
	margin: 0 auto;
	max-width: 1440px;
}
/* cards */

.accordion .card .card-header a:hover {
	text-decoration: underline;
}

/*img {
	height: auto;
	width: 100%;
}*/

[class^='col-'] {
	/*float: left;*/
	padding: 0 0.5%;
}

[class*='media--'] {
	height: 0;
	overflow: hidden;
}

@media only screen and (min-width: 641px) {
	[class*='col-']::after {
		clear: both;
	}
	[class*='col-']::before,
	[class*='col-']::after {
		clear: both;
	}
	[class*='col-'] {
		width: 49%;
	}
}

@media only screen and (min-width: 992px) {
	[class*='col-'] {
		width: 32%;
	}
}

@media only screen and (min-width: 1200px) {
	[class*='col-'] {
		width: 24%;
	}
}

/* code above ok - verified*/

/* .waves-effect has z-index: 1; */
a.waves-effect,
a.waves-light {
	display: inline-block; 
}

// to be modified - values
.img-raised {
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.9), 0 8px 10px -5px rgba(0, 0, 0, 0.5);
}

.form-check-input[type="radio"],
label.btn input[type="radio"],
.form-check-input[type="checkbox"],
label.btn input[type="checkbox"] {
	position: absolute;
	left: -9999px;
	visibility: hidden; 
}
