.modal {
	padding-right: 0 !important;
	.modal-fluid {
		width: 100%;
		max-width: 100%;
	}
}

// modal avatar
.modal-dialog {
	&.modal-cascading.modal-avatar {
		margin-top: 6rem;
		.modal-header {
			border: 0;
			box-shadow: none;
			margin: -5.5rem 0 -1rem;
			img {
				box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.15);
				margin-left: auto;
				margin-right: auto;
			}
		}
		.modal-body h4 {
			font-weight: 300;
			color: #757575 !important;
		}
	}
}
// modal avatar

  








  
//   .modal-dialog.modal-cascading .nav-tabs {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//   }
//   .modal-dialog.modal-cascading .nav-tabs li {
//     -webkit-box-flex: 1;
//     -webkit-flex: 1; /* Safari 6.1+ */
//     -ms-flex: 1; /* IE 10 */
//     flex: 1;
//   }
//   .modal-dialog.modal-cascading .modal-tabs .nav-tabs {
//     -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
//     box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);    
//     margin: -2rem 1rem 0 1rem; 
//   }
//   .modal-dialog.modal-cascading .nav-tabs li a {
//     text-align: center; /* aligns the text inside the nav item anchor */
//   }
//   .modal-dialog.modal-cascading .modal-tabs .tab-content {
//     padding: 1rem 0 0 0; /* dist between the tabs and the inputs/content */
//   }
//   /* checked */
  
  
  
//   /* checked */
//   .nav-tabs .nav-item .nav-link {
//     -webkit-border-radius: 0.25rem;
//     border-radius: 0.25rem;
//     background-color: inherit;
//     color: #fff;
//   }
//   /* checked */
  
  
  
//   /* not checked yet */
//   /* not checked yet */        
//   /* not checked yet */
//   body.modal-open {
//     overflow: auto;
//     padding-right: 0 !important; 
//   }
  
//   body.scrollable {
//     overflow-y: auto; 
//   }
  
  
  
  
//   .nav-tabs {
//     -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
//     box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
//     border: 0;
//     padding: 0.7rem;
//     margin-left: 1rem;
//     margin-right: 1rem;
//     margin-bottom: -20px;
//     background-color: #2bbbad;
//     z-index: 2;
//     position: relative;
//     -webkit-border-radius: 0.25rem;
//     border-radius: 0.25rem; 
//   }
  
//   .nav-tabs .nav-item + .nav-item {
//     margin-left: 0;
//   }
  
  
//   /* checked */
//   .nav-tabs .nav-item.disabled {
//     pointer-events: none !important;
//   }
//   .nav-tabs .nav-item.disabled .nav-link {
//     color: rgba(0, 0, 0, 0.38);
//   }
//   /* checked */
  
  
//     .nav-tabs .nav-link {
//       -webkit-transition: all 0.4s;
//       -o-transition: all 0.4s;
//       transition: all 0.4s;
//       border: 0;
//       color: #fff; }
//     .nav-tabs .nav-link.active,
//     .nav-tabs .nav-item.open .nav-link {
//       background-color: rgba(255, 255, 255, 0.2);
//       color: #fff;
//       -webkit-transition: all 1s;
//       -o-transition: all 1s;
//       transition: all 1s;
//       -webkit-border-radius: 0.25rem;
//       border-radius: 0.25rem; }
//     .nav-tabs .nav-item.show .nav-link {
//       background-color: #2bbbad;
//       color: #fff;
//       -webkit-transition: all 1s;
//       -o-transition: all 1s;
//       transition: all 1s;
//       -webkit-border-radius: 0.25rem;
//       border-radius: 0.25rem; }
//     .nav-tabs .nav-item.show .nav-link.dropdown-toggle {
//       background-color: rgba(255, 255, 255, 0.2); }
//   /* not checked yet */
//   /* not checked yet */
  
  
  
  
  
//   /* verified */
//   .modal-dialog .modal-content {
//     border: 0;
//     -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
//     box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
//     -webkit-border-radius: 0.25rem;
//     border-radius: 0.25rem;
//   }
  
//   .modal-dialog .modal-content .modal-header {
//     -webkit-border-top-left-radius: 0.25rem;
//     border-top-left-radius: 0.25rem;
//     -webkit-border-top-right-radius: 0.25rem;
//     border-top-right-radius: 0.25rem; 
//   }
  
//   .modal-dialog.modal-alert .modal-header {
//     border: 0; 
//     color: #000;
//     font-size: 1.25rem;
//     -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
//     box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
//   }
//   .modal-dialog.modal-alert .modal-body {
//     padding: 1.5rem;
//     color: #424242; 
//   }
  
//   .modal-dialog.modal-form .filled.form-row .group {
//     margin: 0;
//     margin-top: 2rem;
//   }
//   .modal-dialog.modal-form .inputs.filled.form-row label {
//     left: 1.3rem;
//   }
  
//   .modal-dialog.modal-form .close,
//   .modal-dialog.modal-alert .close,
//   .modal-dialog.modal-cascading .close {
//     opacity: 1;
//     text-shadow: none;
//     outline: 0; 
//   }
  
//   /* modal cascading */
//   .modal-dialog.modal-cascading {
//     margin-top: 5%; 
//   }
//   .modal-dialog.modal-cascading .modal-header {
//     -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
//     box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
//     margin: -3rem 1.25rem 1rem;
//     border: none;
//     -webkit-border-radius: 0.25rem;
//     border-radius: 0.25rem;
//     padding: 1.35rem;
//     text-align: left; 
//   }
  
//   /* modal primary */
//   .modal-dialog.modal-alert.modal-primary .fas {
//     color: #4285f4; 
//   }
//   .modal-dialog.modal-alert.modal-primary .modal-header {
//     background-color: #4285f4;
//     color: #fff; 
//   }
  
//   /* modal success */
//   .modal-dialog.modal-alert.modal-success .fas {
//     color: #0f9d58; 
//   }
//   .modal-dialog.modal-alert.modal-success .modal-header {
//     background-color: #0f9d58;
//     color: #fff; 
//   }
  
//   /* modal info */
//   .modal-dialog.modal-alert.modal-info .fas {
//     color: #43bedd; 
//   }
//   .modal-dialog.modal-alert.modal-info .modal-header {
//     background-color: #43bedd;
//     color: #fff; 
//   }
  
//   /* modal warning */
//   .modal-dialog.modal-alert.modal-warning .fas {
//     color: #f4b400; 
//   }
//   .modal-dialog.modal-alert.modal-warning .modal-header {
//     background-color: #f4b400;
//     color: #fff; 
//   }
  
//   /* modal danger */
//   .modal-dialog.modal-alert.modal-danger .fas {
//     color: #db4437; 
//   }
//   .modal-dialog.modal-alert.modal-danger .modal-header {
//     background-color: #db4437;
//     color: #fff; 
//   }
  
//   /* modal grey */
//   .modal-dialog.modal-alert.modal-grey .fas {
//     color: #9e9e9e; 
//   }
//   .modal-dialog.modal-alert.modal-grey .modal-header {
//     background-color: #9e9e9e;
//     color: #fafafa; 
//   }
  
//   /* modal darkgrey */
//   .modal-dialog.modal-alert.modal-darkgrey .fas {
//     color: #323232; 
//   }
//   .modal-dialog.modal-alert.modal-darkgrey .modal-header {
//     background-color: #323232;
//     color: #fff; 
//   }
//   /* verified */
  
  
  
  
  
  
  
  
  
//   /* not checked yet */
  
  
//   .modal.fade.top:not(.show) .modal-dialog {
//     -webkit-transform: translate3d(0, -25%, 0);
//     transform: translate3d(0, -25%, 0);
//   }
//   .modal.fade.left:not(.show) .modal-dialog {
//     -webkit-transform: translate3d(-25%, 0, 0);
//     transform: translate3d(-25%, 0, 0);
//   }
//   .modal.fade.right:not(.show) .modal-dialog {
//     -webkit-transform: translate3d(25%, 0, 0);
//     transform: translate3d(25%, 0, 0);
//   }
//   .modal.fade.bottom:not(.show) .modal-dialog {
//     -webkit-transform: translate3d(0, 25%, 0);
//     transform: translate3d(0, 25%, 0);
//   }
//   /* not checked yet */
  
  
  
  
  
  
  
  
  
  
  
//   @media (min-width: 992px) {
//     .modal .modal-side {
//       position: absolute;
//       bottom: .6rem;
//       right: .6rem;
//       margin: 0;
//       width: 400px; 
//     } 
//   }
  
//   @media (min-width: 992px) {
//     /* not checked yet */
//     .modal.modal-scrolling {
//       position: relative; 
//     }
//     .modal.modal-scrolling .modal-dialog {
//         position: fixed;
//         z-index: 1050; 
//     }
//     .modal.modal-content-clickable {
//       top: auto;
//       bottom: auto; 
//     }
//     .modal.modal-content-clickable .modal-dialog {
//       position: fixed; 
//     }
//     /* not checked yet */
      
  
  
//     .modal .modal-fill-height {
//       position: absolute;
//       display: -webkit-box;
//       display: -webkit-flex;
//       display: -ms-flexbox;
//       display: flex;
//       margin: 0;
//       width: 320px;
//       height: 100%;
//       top: 0;
//       right: 0; 
//     }
//     .modal .modal-fill-height.modal-top,
//     .modal .modal-fill-height.modal-bottom {
//       display: block;
//       width: 100%;
//       max-width: 100%;
//       height: auto; 
//     }
//     .modal .modal-fill-height.modal-top {
//       bottom: auto; 
//     }
//     .modal .modal-fill-height.modal-bottom {
//       top: auto; 
//     }
//     .modal .modal-fill-height .modal-content {
//       width: 100%; 
//     }
//     .modal .modal-fill-height.modal-lg {
//       width: 90%;
//       max-width: 90%; 
//     }
//   }
  
//   @media (min-width: 992px) and (min-width: 992px) {
//     .modal .modal-fill-height.modal-lg {
//       width: 800px;
//       max-width: 800px; 
//     } 
//   }
//   @media (min-width: 992px) and (min-width: 1200px) {
//     .modal .modal-fill-height.modal-lg {
//       width: 1000px;
//       max-width: 1000px; 
//     } 
//   }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
//   /* checked checked checked checked checked checked checked checked */
//   /* by me */
//   /* by me */
//   /* by me */
  
//   @media (min-width: 768px) {
//     .modal .modal-dialog.modal-top {
//       top: 0; 
//     }
//     .modal .modal-dialog.modal-right {
//       right: 0; 
//     }
//     .modal .modal-dialog.modal-bottom {
//       bottom: 0; 
//     }
//     .modal .modal-dialog.modal-left {
//       left: 0; 
//     }
//     .modal .modal-dialog.modal-top-left {
//       top: .6rem;
//       left: .6rem; 
//     }
//     .modal .modal-dialog.modal-top-right {
//       top: .6rem;
//       right: .6rem; 
//     }
//     .modal .modal-dialog.modal-bottom-right {
//       bottom: .6rem;
//       right: .6rem; 
//     }
//     .modal .modal-dialog.modal-bottom-left {
//       bottom: .6rem;
//       left: .6rem; 
//     }
//   }
  
//   .modal .modal-marginless {
//     margin: 0;
//     position: absolute;
//     width: 100%;
//     max-width: 100%; 
//   }
//   .modal .modal-marginless.modal-bottom {
//     bottom: 0; 
//   }
  
//   .modal .modal-title.small {
//     font-size: 1.2rem;
//   }
//   .modal .modal-title.medium {
//     font-size: 1.6rem;
//   }
//   .modal .modal-title.large {
//     font-size: 2rem;
//   }
  
//   /* might have to be removed - solve badges first */
//   .modal .modal-success .chip {
//     background-color: #0f9d58;
//     color: #fff !important;
//   }
//   /* might have to be removed - solve badges first */
  
//   .modal-dialog.modal-payment .checkout-amount {
//     background-color: #039be5 !important;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: 0;
//     margin-left: 0;
//     padding-top: 2.25rem;
//     padding-bottom: 2.25rem;
//     -ms-flex-pack: center !important;
//     justify-content: center !important;
//   }
  
//   .modal-dialog.modal-payment .paragraph-total {
//     color: #f5f5f5 !important;
//     font-size: 1.2em;
//     font-weight: 100;
//     letter-spacing: 0.25em;
//     margin: 0.5rem !important;
//   }
  
//   .modal-dialog.modal-payment .paragraph-amount {
//     color: #f5f5f5 !important;
//     font-size: 1.8rem;
//     font-weight: 300;
//     padding-left: 1rem !important;
//     padding-right: 1rem !important;
//   }
  
//   .modal-radio .modal-body {
//     height: 20.625em;
//   }
//   @media (min-width: 576px) {
//     .modal-radio {
//       max-width: 350px;
//     }
//   }
//   .modal-radio .modal-footer a {
//     text-decoration: none;
//     letter-spacing: 0.08em;
//     font-weight: 500;
//   }
  
//   .modal-attending .modal-body {
//     height: 27.5em;
//   }
//   /* by me */
  